body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right,
                                red,
                                whitesmoke
                                 );
  }
  
  .calculator {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: rgb(131,0,0,0.85);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba( 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
  }

  #last_operation_history {
    height: 1.8vh;
    font-size: 1.8vh;
    text-align: right;
    padding-right: 1.5vh;
    color: rgb(177, 176, 176);
    background-color: lightyellow;
  }
  
  
  #display {
    width: calc(95% - 29px);
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    border: a;
    border-radius: 4px;
    line-height-step: 1;
    text-align: right; /* Menggeser teks ke kanan */
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    
    background-color:rgb(245, 0, 15,0.2);
    color: #fff;
    border: none;
    border-radius:20px;
  }
  
  .operator {
    background-color:rgb(421, 123, 10,0.4) ;
    color: #fff;
  }
  
  .equals {
    grid-row: span 2;
    /* height: 70px;  */
    background-color:rgb(421, 123, 10,0.6);
    color:#fff;
  }
  /* Gaya untuk riwayat operasi */
/* Gaya untuk elemen display baru */
.display-container {
    position: initial;
}

.history {
    position: absolute;
    margin-top: 0;
    margin-right: 0;
    font-size: 0.8em;
    opacity: 0.8;
    padding: 7px; /* Untuk memberikan sedikit ruang di sekitar teks riwayat */
}

.main-display {
    width: calc(100% - 20px); /* Lebar display utama dikurangi padding */
    margin-top: 3%; /* Jarak antara riwayat dan display utama */
    font-size: 1.5em;
}
